.top {
	width: 50%;
	margin: auto;
    text-align: center;
    font-size: large;
}

.left-middle {
	width: 50%;
	margin: auto;
    margin-top:1%;
    /* text-align: center; */
}


.form-input-text {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 3px;

}