.landing-middle-expertise-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    text-align: center;
    padding-top:50px;
    padding-left:50px;
}

.landing-middle-expertise-item > * {
    display: flex;
    flex-direction: column;
}

.expertise-header {
    font-size: 25px;
}

.expertise-description {
    overflow-wrap: break-word;
    inline-size: 200px;
}

@media (max-width: 800px) {
    .landing-image {
        height:50%;
        width:75%;
    }

    .landing-image {
        height:50%;
        width:50%;
    }

    /* .landing-top {
        height: 50%;
    } */
}