.navbar {
    display: flex;
    align-items: center;
	justify-content: space-between;
    overflow-y: scroll;
    flex: 0 0 auto;
    position: sticky;
    top: 0;
    background-color: #22303C;
}

.navbar-header {
	display: flex;
    justify-content: flex-start;
    flex-direction: column;
    vertical-align: top;
    text-align: center;

}

.navbar-links {
	display: flex;
    justify-self: flex-end;
}

.navbar li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.navbar a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}