.mid {
	background-color: #353935;
	display: inline-block; 
	width: 100%;
	margin: 0;
}

.navbar{
	display:inline-block;
}

.navbar li{
	list-style: none;
	display:inline-block;
	margin:auto;
}

.navbar li a{
	text-decoration: none;
	color:lavender;
	font-size: 20px;
	padding:8px 20px;
}

.navbar li a:hover{
	text-decoration: underline;
}