.navbar {
    display: flex;
    align-items: center;
	justify-content: space-between;
}

.navbar-header {
	display: flex;
    justify-content: flex-start;
}

.navbar-links {
	display: flex;
    justify-self: flex-end;
}

.navbar li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.navbar a {
    text-decoration: none;
    transition: all 0.3s ease 0s;
}